!!!
%html
  %head
    %title Here your title
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{ src: "#{javascript_path 'app'}" }
    %link{ rel: 'stylesheet', href: "#{stylesheet_path 'app'}" }

  %body
    != yield
